.block-supplies {

    a{
        text-decoration: none;
        color: #1b1e21;
    }

    .block-task{
        min-height: 50px;
        margin: 10px;
        padding: 5px;
        background: #fefefe;
        border: 1px solid #eee;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
    .block-task-attribute{
        padding: 5px;
        color: #333;
    }

    .block-task-status-success{
        border-left: 10px solid #5cd08d;
    }

    .block-task-status-payment{
        border-left: 10px solid slategrey;
    }

    .block-task-status-work{
        border-left: 10px solid sandybrown;
    }

    .block-task-img{
        width: 50px;
        height: 50px;
        margin-top: 5px;
    }
}
